table.inline {
  //width: 27em;
  max-width: 27em;
  width: 100%;
  display: inline-block;
  background-color: rgba(0,0,0, 0.1);
  border-radius: 0.5em;
  border: solid 1px rgba(0,0,0, 0.1);

  margin: 0.8em;
  vertical-align: top;

  caption {
    font-size: 110%;
    background-color: rgba(0,0,0, 0.1);
    border-bottom: solid 1px rgba(0,0,0, 0.1);

    padding: 0.1em 0 0.1em 0;
  }

  th {
    text-align: left;
    width: 14em;

    &::after {
      content: ':';
    }
  }

  td {
    width: 13em;
  }
}

div.table-holder {
  max-width: 100%;
  overflow: auto;
}
table.process_table {
  white-space: nowrap;

  thead {
    background-color: rgba(0,0,0, 0.1);
    font-size: 105%;
    cursor: pointer;

    th {
      padding: 0.2em;
    }
  }
}