@import 'base';
@import 'table';

#wobserver {
  .button {
    background-color: #0078e7;
    color: #fff;

    padding: 0.2em;
    margin: 0.2em;
    border-radius: 0.2em;
    cursor: pointer;

    &:hover {
      background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
    }
    &:active {
      box-shadow: 0 0 6px rgba(0,0,0,.2) inset;
    }
  }

  #menu {
    font-size: 130%;
    height: 2em;
    background-color: rgba(0,0,0, 0.2);

    nav a {
      cursor: pointer;
      user-select: none;

      text-decoration: none;
      color: #666;
      display: inline-block;
      height: 1em;
      padding: 0.5em;
      vertical-align: middle;

      background-color: #ccc;
      &:hover {
        background-color: #ddd;
        color: #222;
      }

      &.selected {
        background-color: #eee;
        color: #000;

      }
    }
  }
  #content {
    padding: 0.5em;
  }
  #footer {
    position: absolute;

    left: 0; right: 0;
    bottom: 0;

    border-top: solid 1px rgba(255,255,255, 0.3);
    background-color: rgba(0,0,0, 0.1);

    padding: 0.3em 0.5em;
  }
}

#node_selection {
  position: absolute;
  left: 0; right:0; top: 0; bottom: 0;

  margin: auto;

  width: 20em;
  height: 30em;

  border-radius: 0.5em;
  border: solid 1px #000;
  background-color: #eee;

  & > span {
    background-color: rgba(0,0,0, 0.1);
    width: 100%;
    display: block;
    padding: 0.3em;
    font-size: 120%;
  }
  ul {
    margin: 0; padding: 0;

    li.node {
      padding: 0.5em;
      cursor: pointer;

      span {
        font-weight: bold;
        display: block;
        font-size: 120%;
      }

      detail {
        font-size: 90%;
        padding-left: 2em;
        font-style: italic;
      }

      &:hover{
        background-color: rgba(0,200,255, 0.1);
      }
    }

    .selected {
      cursor: default !important;
      color: #999;

      &:hover{
        background-color: rgba(0,0,0, 0) !important;
      }
    }
  }
}

#popup-overlay {
  position: fixed;
  left: 0; right:0; top: 0; bottom: 0;

  background-color: rgba(0,0,0, 0.8);
}

html, body {
  background-color: #eee;
}