@import 'base';
@import 'table';
@import 'graph';
@import 'chart';

#wobserver {
  position: relative;
  width: 100%;
  height: 100%;

  .button {
    background-color: #0078e7;
    color: #fff;

    padding: 0.2em;
    margin: 0.2em;
    border-radius: 0.2em;
    cursor: pointer;

    &:hover {
      background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
    }
    &:active {
      box-shadow: 0 0 6px rgba(0,0,0,.2) inset;
    }
  }

  #menu {
    font-size: 130%;
    height: 2em;
    background-color: rgba(0,0,0, 0.2);

    nav a {
      cursor: pointer;
      user-select: none;

      text-decoration: none;
      color: #666;
      display: inline-block;
      height: 1em;
      padding: 0.5em;
      vertical-align: middle;

      background-color: #ccc;
      &:hover {
        background-color: #ddd;
        color: #222;
      }

      &.selected {
        background-color: #eee;
        color: #000;

      }
    }
  }
  #content {
    box-sizing: border-box;
    position: absolute;
    top: 3em; bottom:2em;
    left:0; right: 0;
    padding: 0.5em;
  overflow: auto;
  }
  #footer {
    position: absolute;

    left: 0; right: 0;
    bottom: 0;

    border-top: solid 1px rgba(255,255,255, 0.3);
    background-color: rgba(0,0,0, 0.1);

    padding: 0.3em 0.5em;
  }
}

#node_selection {
  position: absolute;
  left: 0; right:0; top: 0; bottom: 0;

  margin: auto;

  width: 20em;
  height: 30em;

  border-radius: 0.5em;
  border: solid 1px #000;
  background-color: #eee;

  & > span {
    background-color: rgba(0,0,0, 0.1);
    width: 100%;
    display: block;
    padding: 0.3em;
    font-size: 120%;
  }
  ul {
    margin: 0; padding: 0;

    li.node {
      padding: 0.5em;
      cursor: pointer;

      span {
        font-weight: bold;
        display: block;
        font-size: 120%;
      }

      detail {
        font-size: 90%;
        padding-left: 2em;
        font-style: italic;
      }

      &:hover{
        background-color: rgba(0,200,255, 0.1);
      }
    }

    .selected {
      cursor: default !important;
      color: #999;

      &:hover{
        background-color: rgba(0,0,0, 0) !important;
      }
    }
  }
}

#popup-overlay {
  position: fixed;
  left: 0; right:0; top: 0; bottom: 0;
  z-index: 5;

  background-color: rgba(0,0,0, 0.8);
}

#process_information {
  position: absolute;
  left: 0; right:0; top: 0; bottom: 0;

  margin: auto;

  width: 35em;
  height: 50em;

  border-radius: 0.5em;
  border: solid 1px #000;
  background-color: #eee;

  pre {
    height: 19em;
    overflow: auto;
    margin: 1em;
    background-color: rgba(255,255,255, 0.5);
    border-radius: 0.1em;
  }

  & > span {
    background-color: rgba(0,0,0, 0.1);
    width: 100%;
    display: block;
    padding: 0.3em;
    font-size: 120%;
  }

  table {
    margin: 0 1em;

    caption {
      font-weight: bold;
      font-size: 110%;
    }

    & + table {
      margin-top: 1em;
    }
    width: 100%;
    text-align: left;
    tr {
      th {
        width: 50%;
      }
    }
  }

  div#process_relations {
    text-align: center;
    margin-top: 1em;

    div {
      width: 30%;
      display: inline-block;
      text-align: left;

      span {
        font-weight: bold;
      }

      ul {
        margin-top: -0.1em;
        height: 4em;
        overflow: auto;
        background-color: rgba(255,255,255, 0.1);
        padding-left: 0;

        li {
          list-style: none;
        }
      }
    }
  }
}


#table_information {
  position: absolute;
  left: 0; right:0; top: 0; bottom: 0;

  margin: auto;

  width: 90%;
  height: 35em;

  border-radius: 0.5em;
  border: solid 1px #000;
  background-color: #eee;

  & > span {
    background-color: rgba(0,0,0, 0.1);
    width: 100%;
    display: block;
    padding: 0.3em;
    font-size: 120%;
  }

  & > div {
    overflow: auto;
    height: 32em;
  }

  pre {
    margin: 0;
  }
  table {
    padding: 0;
    margin: 0;

    min-width: 100%;

    tr:nth-child(even) {
      background-color: rgba(0,0,0, 0.1);
    }

    td {
      height: 100%;
      vertical-align: top;
    }
  }
}
#alloc_table {
  padding-top: 2em;
  table {
    padding: 0;
    margin: 0;

    min-width: 100%;

    tr:nth-child(even) {
      background-color: rgba(0,0,0, 0.1);
    }

    td {
      height: 100%;
      vertical-align: top;
    }
  }
}

table.generic_array_table {
  padding: 0;
  margin: 0;

  min-width: 100%;

  thead {
    background-color: rgba(0,0,0, 0.2);
    th {
      font-size: 110%;
      padding: 0.3em;
    }
  }

  tr:nth-child(even) {
    background-color: rgba(0,0,0, 0.1);
  }

  td {
    height: 100%;
    vertical-align: top;
  }
}

.load {
  display: inline-block;
  width: 2em;
  text-align: right;
}
html, body {
  background-color: #eee;

  width: 100%; height: 100%;
}